.deleteIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;

  transition: all 0.3s ease;

  &:hover {
    background-color: var(--color-dark-100);
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
}