.input {
  display: flex;
  gap: 5px;

  .addItem {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 27px;
    left: 5px;
    width: 30px;
    height: 27px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: var(--color-dark-100);
    }
  }
}



