.input {
    display: flex;
    gap: 5px;
}

.newTaskContainer input{
    outline: 0;
}

.warning {
    color: red;
    font-weight: 600;
}
.addItem {
    position: relative;
    top: 7px;
    left: 5px;
}
