.task {
    border-bottom: 1px solid lightgrey;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px 0;
}

.task:last-child {
    border-bottom: none;
}