.listsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.appContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.listContainer {
    border: 1px solid black;
    padding: 25px;
}

.warning {
    color: red;
    font-weight: 600;
}
