.listContainer {
    padding: 25px;
    flex-wrap: wrap;
}

.isActive {
    background-color: antiquewhite;
    border: 2px solid gray;
    outline: 0;
}
.titleContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}
.buttonContainer {
    display: flex;
    gap: 5px;
}