.listContainer {
    padding: 25px;
    flex-wrap: wrap;
}

.isActive {
    background-color: antiquewhite;
    border: 2px solid gray;
    outline: 0;
}
.titleContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}
.tasksContainer {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}